:root{
    --iceblue: #85D7F9;
    --icebluetrans: #85d7f966;
    --orange: #D46228;
    --grey: #242424;
    --white: #ffffff;
    --black: #000000;
}

@font-face {
    font-family: designerFont;
    src: url(fonts/DESIGNER.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    color: var(--iceblue);
    background-color: var(--grey);
}

.dashboard{
    display: grid;
    grid-template-columns: 288px 1fr;
    grid-template-rows: 144px 1fr auto;
}

.sidebar{
    grid-row: 1 / 4;
    background-color: var(--black);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 144px 1fr;

    & .branding{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4px;

        & .nakama{
            font-family: designerFont;
            font-weight: 800;
            font-size: 3.4rem;
            text-transform: uppercase;
            color: var(--orange);
            cursor: default;
        }
    }

    & .navigation{
        grid-row: 2 / 3;
        
        & ul{
            list-style-type: none;

            &.dashboard-list{
                margin-bottom: 88px;
            }

            & li{
                margin: 28px 48px;
                display: flex;
                
                & a{
                    text-decoration: none;
                    color: inherit;
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    font-size: 1.2rem;

                    & img{
                        width: 24px;
                        height: 24px;
                    }

                    &:hover {
                        color: var(--orange);
                    }
                }
            }
        }
    }
}

.header{
    grid-column: 2 / 3;
    background-color: var(--grey);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 4px;
    box-shadow: 0px 8px 4px -8px var(--iceblue);

    & .search-div{
        display: flex;
        width: 100%;
        padding: 4px 24px;
        gap: 4px;
        
        & .search-field{
            border-radius: 24px;
            font-size: 1rem;
            outline: none;
            border: none;
            width: 100%;
            color: var(--iceblue);
            overflow: hidden;
            padding-left: 8px;
            background-color: var(--black);
            min-width: 188px;
            width: 188px;
            transition: width 0.4s;
            justify-self: start;

            &:focus{
                width: 100%;

                &::placeholder{
                    color: transparent;
                }
            }
            &:valid{
                width: 100%;
            }
        }
        
        & button{
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;

            & img{
                width: 28px;
                height: 28px;
            }
        }
    }
    
    & .user-action{
        padding: 4px 24px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 8px;
        justify-content: end;
        
        & .bell{
            height: 44px;
            width: 44px;
            cursor: pointer;
        }

        & .avatar{
            height: 88px;
            border-radius: 50%;
            overflow: hidden;
            padding: 1.8px;
            background-color: var(--orange);
            cursor: pointer;
        }

        & .username{
            font-family: designerFont;
            font-size: 2.8rem;
            text-transform: lowercase;
            color: var(--iceblue);
            cursor: default;
        }
    }
}

.main-content{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    background-color: var(--grey);

    & .projects-div{
        grid-row: 1 / 3;
        margin: 28px 24px;

        & .projects-grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
            column-gap: 28px;

            & .project{
                background-color: var(--black);
                border-radius: 14px;
                height: 288px;
                padding: 18px;
                margin: 14px 0;
                overflow: hidden;
                box-shadow: -14px -14px 14px -14px var(--orange);
                display: grid;
                grid-template-rows: auto 1fr auto;
                transition: 1s;
                
                & .project-action{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    gap: 8px;
                    align-items: center;
                    cursor: default;

                    & img{
                        height: 18px;
                        width: 18px;
                        cursor: pointer;
                    }

                    & .bar{
                        color: var(--orange);
                    }
                }
            }
        }
    }

    & .daily-quotes-div{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: 28px 24px;

        & .daily-quotes-grid{
            background-color: var(--black);
            border-radius: 14px;
            padding: 18px;
            margin: 14px 0;
            overflow: hidden;
    
            & .right{
                text-align: end;
            }
        }
    }

    & .announcements-div{
        grid-column: 2 / 3;
        margin: 28px 24px;

        & .announcements-grid{
            border-radius: 14px;
            background-color: var(--black);
            margin: 8px 0;
            overflow: hidden;

            & .announcement{
                box-shadow: 0px 4px 4px -4px var(--grey);
                padding: 18px;
            }
        }
    }
}

.heading{
    font-size: 1.4rem;
    font-weight: 800;
}

.title{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.info{
    font-size: 0.8rem;
    color: var(--icebluetrans);
    margin: 14px 0;
}

.footer{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: var(--grey);
    padding: 8px 0;
    box-shadow: 0px -8px 4px -8px var(--iceblue);

    & .theodinproject{
        text-align: center;
        font-size: 0.8rem;

        & span{
            display: inline-block;
            min-width: 104px;
        }
        & a{
            text-decoration: none;
            color: var(--orange);

            &:hover{
                font-weight: bold;
            }
        }
    }
}